<div class="page-head">
  <h2><%= title || name  %></h2>
  <ol class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li><a href="#"><%= menu %></a></li>
    <li class="active"><%= title %></li>
  </ol>
</div>