

<div class="page-head">
  <h2>首页</h2>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active">Multi Upload</li>
  </ol>
</div>
<div class="cl-mcont">
  <form action="http://condorthemes.com/cleanzone/js/dropzone/upload.php"
        class="dropzone"
        id="my-awesome-dropzone"></form>

</div>
</div>
<div class="cl-mcont">

    <%= current_user.name %>
  </div>